.container_presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 975px;
    background: var(--bg-primary);
}

.container_presentation_box {
    text-align: center;
}

.container_presentation_box svg {
    font-size: 8em;
}

.container_presentation_box h1 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.container_presentation_box_subtitle p{
    font-size: 1.5em;
    font-weight: 400;
    color: #302f2f;
    margin-top: 5px;
}

@media only screen and (max-width: 720px) {
    .container_presentation {
      min-height: 600px;
    }
}