.container_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background: var(--bg-primary);
    margin-top: 10px;
}

.container_projects_box {
    text-align: center;
    padding: 35px;
}

.container_projects_box h3 {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--bg-secondary);
    margin-bottom: 10px;
}


.container_projects_box_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_projects_box_card {
   width: 400px;
   height: 280px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 5px;
   background: var(--bg-white);
   margin: 5px;
   border-radius: 5px;
}

.container_projects_box_card span {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--bg-secondary);
    margin-bottom: 10px;
}

.container_projects_box_card img {
    width: 100%;
    height: 100%;
}